body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("./drew-coffman-jUOaONoXJQk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;


}

.header-container,.footer-container {
    width: 100%;
    background-color:#121e26;


}

.header-links, .footer-links {
    display: flex;
    gap: 20px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

ul {
    list-style: none;
}


/*.section-1, .section-2, .section-3, .section-4 {*/
/*    min-height: 5rem;*/
/*    height: 40rem;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/

/*    width: 100%;*/
/*    outline: solid red 5px;*/
/*}*/


/*.section-1 {*/
/*    background-image: url("./skyline.jpg");*/

/*}*/

/*.section-2 {*/
/*    background-image: url("./burger.jpg");*/
/*}*/

/*.section-3{*/
/*    background-image: url("./color-food.jpg");*/
/*}*/
/*.section-4{*/
/*    background-image: url("./restaurant.jpg");*/
/*}*/


